<section class="logo">
    <a href="/views/home.html">
        <i class="fas fa-yin-yang"></i>TaoDeportes
    </a>
</section>
<section class="us">
    <div>
        <h4> Nosotros</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
</section>
<section>
    <div class="info">
        <h4>Informacion</h4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum tenetur, eveniet ab corporis sequi
        incidunt!
    </div>
</section>
<section class="contact">
    <div>
        <ul>
            <h4>Contacto</h4>
            <li><i class="fab fa-whatsapp"></i> 111-222-333</li>
            <li><i class="fab fa-facebook-square"></i> @TaoDeportes</li>
            <li><i class="fab fa-instagram"></i> @TaoDeportes</li>
        </ul>
    </div>
</section>