<div class="main-header">
    <div class="logo">
        <a href="/">
            <i class="fas fa-yin-yang"></i>TaoDeportes
        </a>
    </div>
    <div class="login-cart">
        
        <% if(req.cookies.loggedUserId == undefined) {%> 
            <a href="/register-login">Iniciar Sesión</a>
            <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        <% }else{ %> 
            <a href="/register-login"><img class="profile-picture" src="http://localhost:3001/api/user-image/<%= req.cookies.loggedUserId %>" alt="Iniciar Sesión"></a>  
            <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a width="50px">      
        <% } %> 
    </div>
</div>
<div class="sub-header">
    <a href="#">Kits</a>
    <a href="#">Redes</a>
    <a href="#">Canchas</a>
    <a href="#">Pelotas</a>
    <a href="#">Indumentaria</a>
    <a href="#">Accesorios</a>
</div>