<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TaoDeportes</title>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>

<body>
    <header>
        <%- include('./partials/header')  %> 
    </header>
    <main>
        <div class="banner">
            <i class="fas fa-chevron-left"></i>
            <img src="/img/place-holder-running.webp" alt="guy running">
            <i class="fas fa-chevron-right"></i>
        </div>

        <article class="container01">
            <div id="indumentaria-hombre">
                <h2>Indumentaria Hombre</h2>
                <a href="/product"><img src="/img/place-holder-male-t-shirt.jpg" alt="male t-shirt"></a>
            </div>
            <div id="accesorios">
                <h2>Accesorios</h2>
                <a href="/product"><img src="/img/place-holder-accesories.jpg" alt=""></a>
            </div>
            <div id="indumentaria-mujer">
                <h2>Indumentaria Mujer</h2>
                <a href="/product"><img src="/img/place-holder-woman-t-shirt.jpg" alt="male t-shirt"></a>
            </div>
        </article>

        <section>
            <h2>Articulos recomendados</h2>

            <article class="container02">
                <div id="woman-recomended">
                    <a href="/product"><img src="/img/place-holder-woman-t-shirt.jpg" alt="male t-shirt"></a>
                    <a href="/product"><img src="/img/place-holder-woman-t-shirt.jpg" alt="male t-shirt"></a>
                </div>
                <div id="accesories-recomended">
                    <a href="/product"><img src="/img/place-holder-accesories.jpg" alt=""></a>
                </div>
                <div id="male-recomended">
                    <a href="/product"><img src="/img/place-holder-male-t-shirt.jpg" alt="male t-shirt"></a>
                    <a href="/product"><img src="/img/place-holder-male-t-shirt.jpg" alt="male t-shirt"></a>
                </div>
            </article>
        </section>

        <section>
            <h2>Catálogo</h2>

            <article class="container03">
                <div class="card01"><a href="/product"><img src="/img/place-holder-accesories.jpg" alt=""></a>
                    <p>
                        Remera Deportiva
                    </p>
                    <p>
                        Precio: $$$$
                    </p>
                </div>
                <div class="card02"><a href="/product"><img src="/img/place-holder-accesories.jpg" alt=""></a>
                    <p>
                        Remera Deportiva
                    </p>
                    <p>
                        Precio: $$$$
                    </p>
                </div>
                <div class="card03"><a href="/product"><img src="/img/place-holder-accesories.jpg" alt=""></a>
                    <p>
                        Remera Deportiva
                    </p>
                    <p>
                        Precio: $$$$
                    </p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>