<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productdetail.css">
</head>

<body>
    <header>
        <div class="main-header">
            <div class="logo">
                <a href="/views/home.html">
                    <i class="fas fa-yin-yang"></i>TaoDeportes
                </a>
            </div>
            <div class="login-cart">
                Iniciar Sesión
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div class="sub-header">
            <a href="#">Kits</a>
            <a href="#">Redes</a>
            <a href="#">Canchas</a>
            <a href="#">Pelotas</a>
            <a href="#">Indumentaria</a>
            <a href="#">Accesorios</a>
        </div>
    </header>
    <div class="product-detail">
        <div class="images">
            <div class="img3">
                <div><img src="/img/place-holder-woman-t-shirt.jpg" alt="female t-shirt"></div>
                <div><img src="/img/place-holder-woman-t-shirt.jpg" alt="female t-shirt"></div>
                <div><img src="/img/place-holder-woman-t-shirt.jpg" alt="female t-shirt"></div>
            </div>
            <div class="img1"><img src="/img/place-holder-woman-t-shirt.jpg" alt="female t-shirt"></div>
        </div>
        <div>
            <div class="description">
                <h3>Descripcion del producto</h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis ullam,
                cum
                vitae reiciendis expedita doloremque modi, omnis quibusdam tempora asperiores quam quod. Iusto sunt ex
                aliquid
                magni consequatur, natus porro?
            </div>
            <div class="product-info">
                <p>Remera de mujer</p>
                <p>$1500</p>
                <p>5% Off</p>
                <p>Metodos de pago</p>
                <li>MercadoPago</li>
                <button>Comprar</button>
                <button>Agregar al carrito</button>
            </div>
        </div>
    </div>




    <footer>
        <section class="logo">
            <a href="/views/home.html">
                <i class="fas fa-yin-yang"></i>TaoDeportes
            </a>
        </section>
        <section class="us">
            <div>
                <h4> Nosotros</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </section>
        <section>
            <div class="info">
                <h4>Informacion</h4>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum tenetur, eveniet ab corporis sequi
                incidunt!
            </div>
        </section>
        <section class="contact">
            <div>
                <ul>
                    <h4>Contacto</h4>
                    <li><i class="fab fa-whatsapp"></i> 111-222-333</li>
                    <li><i class="fab fa-facebook-square"></i> @TaoDeportes</li>
                    <li><i class="fab fa-instagram"></i> @TaoDeportes</li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>