<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaoDeportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register-login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <div class="main-header">
            <div class="logo">
                <a href="/">
                    <i class="fas fa-yin-yang"></i>TaoDeportes
                </a>
            </div>
            <div class="login-cart">
                <a href="/register-login">Iniciar Sesión</a>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div class="sub-header">
            <a href="#">Kits</a>
            <a href="#">Redes</a>
            <a href="#">Canchas</a>
            <a href="#">Pelotas</a>
            <a href="#">Indumentaria</a>
            <a href="#">Accesorios</a>
        </div>
    </header>

    <main>
            <section class="login-form">
                <form action="/" method="GET">

                    <h1>Login</h1>
                    <p>
                        <label for="user-name" class="block-controller">Nombre de usuario</label>
                        <input type="text" name="user-name" id="user-name" placeholder="Nombre de usuario"
                            class="text-input">
                    </p>

                    <p>
                        <label for="email" class="block-controller">e-mail</label>
                        <input type="email" name="email" id="email" placeholder="e-mail" class="text-input">
                    </p>

                    <p class="form-buttons">
                        <input type="submit" class="rs-form" id="submit">
                        <input type="reset" class="rs-form" id="reset">
                    </p>
                </form>
            </section>

            <section class="register-form">
                <form action="/" method="GET">

                    <h1>Crea una cuenta</h1>

                    <p>
                        <label for="name" class="block-controller">Nombre y apellido</label>
                        <input type="text" name="name" id="name" placeholder="Nombre y apellido" class="text-input">
                    </p>

                    <p>
                        <label for="user-name" class="block-controller">Nombre de usuario</label>
                        <input type="text" name="user-name" id="user-02name" placeholder="Nombre de usuario"
                            class="text-input">
                    </p>

                    <p>
                        <label for="email" class="block-controller">E-mail</label>
                        <input type="email" name="email" id="email02" placeholder="e-mail" class="text-input">
                    </p>

                    <p>
                        <label for="birth-date" class="block-controller">Fecha de nacimiento</label>
                        <input type="date" name="birth-date" id="birth-date" class="text-input">
                    </p>


                    <p>
                        <label for="adress" class="block-controller">Domicilio</label>
                        <input type="text" name="adress" id="adress" placeholder="Domicilio" class="text-input">
                    </p>

                    <p>
                        <label for="profile-picture" class="block-controller">Foto de perfil</label>
                        <input type="file" name="profile-picture" id="profile-picture">
                    </p>

                    <p>
                        <label for="password" class="block-controller">Contraseña</label>
                        <input type="password" name="password" id="password" class="text-input">
                    </p>


                    <p>
                        <label for="password-check" class="block-controller">Confirmar contraseña</label>
                        <input type="password" name="password-check" id="password-check" class="text-input">
                    </p>

                    <p class="form-buttons">
                        <input type="submit" class="rs-form" id="submit02">
                        <input type="reset" class="rs-form" id="reset02">
                    </p>
                </form>
            </section>
    </main>

    <footer>
        <section class="logo">
            <a href="/">
                <i class="fas fa-yin-yang"></i>TaoDeportes
            </a>
        </section>
        <section class="us">
            <div>
                <h4> Nosotros</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </section>
        <section>
            <div class="info">
                <h4>Informacion</h4>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum tenetur, eveniet ab corporis sequi
                incidunt
            </div>
        </section>
        <section class="contact">
            <div>
                <ul>
                    <h4>Contacto</h4>
                    <li><i class="fab fa-whatsapp"></i> 111-222-333</li>
                    <li><i class="fab fa-facebook-square"></i> @TaoDeportes</li>
                    <li><i class="fab fa-instagram"></i> @TaoDeportes</li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>