.App {
  padding: 5% 10%;
  background-color: rgb(235, 235, 235);
}
.page-title{
   text-align:center;
   
}

.ul-users{
text-align:center;
} .ul-prod{
  text-align:center;
} .ul-cat {
  text-align:center;
}
.li-users{
  display: inline-block;
  padding: 15px;
  border: 1px black solid;
  background-color: white;
}
.li-prod{
  display: inline-block;
  padding: 15px;
  border: 1px black solid;
  background-color: white;
}
.li-cat{
   display: inline-block;
   padding: 15px;
}
